@{
    ViewBag.Title = "About Us";
}
<div class="row">
    <div class="col-md-8">
        <h2 style="color:coral">About Plivo</h2>
        <p>
            Plivo is a Cloud API Platform and a Global Carrier Services Provider for Voice Calls and SMS. Our mission is to simplify global telecom and enable access to quality cloud communications at a low cost.

        </p>
        <p>
            Currently, we offer HTTP APIs that let you add Voice and SMS capabilities to any web or mobile using any web standard language. We simplify the notorious complexity of the telephony business into a simple infrastructure service: we take care of everything from carrier management to call quality and messaging deliverability to 24/7 technical support.

        </p>
        <p>
            Our story goes back to 2011, when our co-founders, Mike and Venky, accidentally exchanged messages on Github. Each had been seeking a robust communications platform to easily add Voice and SMS capabilities to their web applications. Yet, they couldn't find one that matched their standards, so they decided to build their own; hence Plivo Open Source was born. Soon after the project took off and developed into a full-featured cloud platform called Plivo. Since then, we've already helped 1000's of businesses of all sizes build popular Voice and SMS applications including call centers, conferencing, two-factor authentication, mobile notifications, and many more.

    </div>
    <div class="col-md-4">
        <div class="col-lg-1">
            <div class="row">
                <img src="~/HomPage Images/Andreessen-horowitz-logo.PNG" style="width:150px" />
            </div>
                <div class="row">
                    <img src="~/HomPage Images/Y-combinator-logo.gif" style="width:150px" />
                </div>
            <div class="row">
                <img src="~/HomPage Images/1024px-QualcommLogo.svg_.png" style="width:150px" />
            </div>
            <div class="row">

                <img src="~/HomPage Images/sv-angel-logo.png" style="width:150px" />
            </div>
                            <div class="row">
                                <img src="~/HomPage Images/battery-ventures-logo.jpg" style="width:150px" />
                            </div>
                        </div>

    </div>
</div>