@{
    ViewBag.Title = "Contact Us";
}
<h2 style="color:green">Plivo Contact Details</h2>


<address>
    <label title="US" style="color:coral">Plivo US:</label>
    <p>340 Pine St # 503, San Francisco, CA 94104, USA</p><br />

    <label title="Bangalore" style="color:coral">Plivo India:</label>

   <p> No.1307, 3rd Floor, Sigma chambers,</p>
    <p>Jeevan Bima Nagar Main Rd, HAL 3rd Stage,</p>
    <p>Kodihalli, Bengaluru, Karnataka 560075</p>
    <label title="Phone" style="color:coral">Phone:</label>
    080 4099 4633<br /><br />

   
</address>

<address>
    For PR and media related inquiries, please email us at <br />
    <strong style="color:coral">Marketing:</strong>   <a href="mailto:marketing@plivo.com">marketing@plivo.com</a><br />
</address>

